.action-bar {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

::ng-deep .ant-form-item {
  margin-bottom: 12px;
}




.label-grid {
  display: flex;
  flex-wrap: wrap;
}

.label {
  position: relative;
  width: 57mm;
  height: 40mm;
  font-size: 12px;
  box-sizing: border-box;
  border: 0.5mm solid #000;
  padding: 1mm;
  background: white;
}


.title {
  text-align: center;
  font-size: 12px;
  margin-bottom: 1mm;
}

.content {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 68%;
  font-size: 12px;
}

.qr {
  width: 18mm;
  height: 18mm;
}

.qr img {
  width: 100%;
  height: 100%;
}





@media print {
  @page {
    size: 57mm 40mm;
    margin: 0;
  }

  body {
    margin: 0;
  }
  .label {
    border: none ; /* ẩn border khi in */
    box-shadow: none; 
  }
}


.modal-scroll-body {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 8px;
}