<nz-layout style="height: auto; min-height: 100vh;">
  <!-- Sidebar -->
  <nz-sider nzCollapsible nzWidth="220px">
    <div class="logo">
      <img src="assets/img/Dashboard/logo1.png" alt="logo" />
      <span class="title">SEOV SYSTEM</span>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span (click)="Dashboard()">Dashboard</span>
      </li>
      <!-- <li nz-submenu nzTitle="ANDON SYSTEM" nzIcon="sync">
        <ul>
          <li nz-menu-item (click)="AndonCall()">ANDON Call</li>
          <li nz-menu-item (click)="AndonReport()">ANDON Report</li>
          <li nz-menu-item (click)="AndonRequest()">ANDON Request</li>
          <li nz-menu-item (click)="AndonScreen()">ANDON Screen</li>
          <li nz-menu-item (click)="AndonDashboard()">ANDON Dashboard</li>
        </ul>
      </li> -->
      <li nz-submenu nzTitle="MF" nzIcon="database">
        <ul>
          <li nz-menu-item (click)="mfMaterialRequest()">Quản lý Order NVL</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="PM" nzIcon="home">
        <ul>
          <li nz-menu-item (click)="printLabel()">In Tem</li>
          <li nz-menu-item (click)="inputMaterial()">Nhập Nguyên vật liệu</li>

          <li nz-menu-item (click)="PmAgsp()">AGSP</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="QA" nzIcon="idcard">
        <ul>
          <li nz-menu-item (click)="IQC()">IQC</li>
          <!-- <li nz-menu-item>New Project</li> -->
        </ul>
      </li>
      <li nz-submenu nzTitle="PU" nzIcon="shopping-cart">
        <ul>
          <li nz-menu-item (click)="CFR()">CFR</li>
          <li nz-menu-item (click)="DPM()">DPM</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="PE" nzIcon="build">
        <ul>
          <li nz-menu-item (click)="BOM()">Quản lý BOM</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="COMMON" nzIcon="check">
        <ul>
          <li nz-menu-item (click)="Device()">Quản lý thiết bị</li>
          <!-- <li nz-menu-item (click)="NasLog()">NAS LOG</li> -->
        </ul>
      </li>
      <li nz-submenu nzTitle="Systems" nzIcon="setting">
        <ul>
          <li nz-menu-item (click)="User()">Quản lý user</li>
          <li nz-menu-item (click)="Auth()">Phân quyền</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="REPORT" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item>Báo cáo nguyên vật liệu</li>
          <li nz-menu-item>Báo cáo hàng tồn kho</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- Main -->
  <nz-layout>
    <!-- Header -->
    <nz-header class="header">

      <div class="header-right">

        <div nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click" class="user-info">

          <nz-avatar nzIcon="user"></nz-avatar>

          <div class="user-text">
            <div class="name">Xin chào, {{name}}</div>
             <div class="role">{{username}}</div> 
          </div>

        </div>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>

            <li nz-menu-item>
              <span nz-icon nzType="user"></span>
              {{username}}
            </li>

            <li nz-menu-divider></li>

            <li nz-menu-item (click)="viewProfile()">
              <span nz-icon nzType="idcard"></span>
              Thông tin cá nhân
            </li>

            <li nz-menu-item (click)="changePassword()">
              <span nz-icon nzType="lock"></span>
              Đổi mật khẩu
            </li>

            <li nz-menu-divider></li>

            <li nz-menu-item nzDanger (click)="logout()">
              <span nz-icon nzType="logout"></span>
              Đăng xuất
            </li>

          </ul>
        </nz-dropdown-menu>

      </div>

    </nz-header>

    <!-- Content -->
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>

  </nz-layout>
</nz-layout>