.mobile-app {
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  flex-direction: column;
}

.top-bar {
  height: 30px;
  background: #1677ff;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;

  box-shadow: 0 2px 8px rgba(0,0,0,.12);
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.top-actions {
  display: flex;
  gap: 12px;
}

.top-actions span {
  font-size: 20px;
  cursor: pointer;
}

.mobile-content {
  flex: 1;
  overflow-y: auto;
}

.bottom-status {
  height: 32px;
  background: #1677ff;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;
  font-size: 12px;
}