<div class="container">
  <div class="andon-box">
    <h2 class="header-title">Báo Cáo Sự Cố Dây Chuyền <span *ngIf="Line">(Line:{{getLineName()}})</span></h2>
    <div class="form-grid">
      <!-- <div class="form-group">
        <label>Dây chuyền sản xuất:</label>
        <nz-select nzShowSearch nzPlaceHolder="Chọn line" nzSize="large" [(ngModel)]="Line" class="custom-select">
          <nz-option *ngFor="let item of line_list" [nzValue]="item.siteCode" [nzLabel]="item.lineName">
          </nz-option>
        </nz-select>
      </div> -->
      <div class="col-span-2">
        <label>Công đoạn lỗi:</label>
        <!-- <input nz-input id="errorStage" [(ngModel)]="ErrorStage" class="input_style"
          placeholder="VD: Martcheck, Bề mặt..." nzVariant="outlined" /> -->
        <div>
          <nz-select id="errorStage" nzShowSearch nzPlaceHolder="Chọn công đoạn" nzSize="large" [(ngModel)]="ErrorStage"
            class="custom-select" style="width: 100%;">
            <nz-option nzLabel="Lỗi Smart Check" nzValue="SMART_CHECK"></nz-option>
            <nz-option nzLabel="Lỗi Cân KCS" nzValue="KCS"></nz-option>
            <nz-option nzLabel="Lỗi Đóng Gói" nzValue="PACKING"></nz-option>
            <nz-option nzLabel="Lỗi Máy Tính" nzValue="PC"></nz-option>
          </nz-select>
        </div>

      </div>
      <div class="col-span-2">
        <label>Mô tả ngắn (Tùy chọn):</label>
        <input nz-input id="description" [(ngModel)]="Description" class="input_style"
          placeholder="Vui lòng nhập mô tả lỗi" nzVariant="outlined" />
      </div>
    </div>
    <div class="btn-group">
      <button class="btn-call btn-it" (click)="callGroup('0')">GỌI IT</button>
      <button class="btn-call btn-me" (click)="callGroup('1')">GỌI ME</button>
      <button class="btn-call btn-pe" (click)="callGroup('2')">GỌI PE</button>
    </div>
  </div>

  <div class="table-box">
    <h2 class="header-title" style="text-align: left; font-size: 20px;">📋 Danh Sách Sự Cố Hiện Hành</h2>
    <table>
      <thead>
        <tr>
          <th>Bộ phận</th>
          <th>Công đoạn</th>
          <th>Thời gian báo</th>
          <th>Thời gian chờ</th>
          <th>Thời gian xử lý</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody id="errorTableBody">
        <tr *ngFor="let item of vm$ | async">
          <td>{{ item.team }}</td>
          <td>{{ item.errorStage }}</td>
          <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ item.waitingTime }}</td>
          <td>{{ item.processingTime }}</td>
          <td>
            <button *ngIf="item.status === 'CALLING'" nz-button nzType="primary" nzSize="small"
              (click)="updateProcessingStatus(item)">Bắt Đầu Xử Lý
            </button>
            <button *ngIf="item.status === 'PROCESSING'" nz-button nzType="primary" nzSize="small"
              (click)="openDoneModal(item)">Xác nhận xử lý
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<nz-modal [(nzVisible)]="isDoneModalVisible" nzTitle="Xác Nhận Hoàn Thành Xử Lý" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleSubmit()" nzOkText="Lưu & Đóng Lỗi" nzCancelText="Hủy bỏ">
  <div>khoa check</div>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="doneForm">

      <!-- chọn phương pháp -->
      <nz-form-item>
        <nz-form-label>Lựa chọn phương pháp đã xử lý</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="method">
            <label nz-radio nzValue="repair">Sửa chữa tại chỗ</label>
            <label nz-radio nzValue="replace">Thay thế thiết bị</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <!-- repair -->
      <div *ngIf="doneForm.value.method === 'repair'">
        <nz-form-item>
          <nz-form-label>Cách khắc phục / Sửa chữa</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="repairNotes" rows="4" placeholder="Ghi chú cách xử lý..."></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- replace -->
      <div *ngIf="doneForm.value.method === 'replace'">

        <nz-form-item>
          <nz-form-label>Mã thiết bị cũ</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="oldDevice" placeholder="VD: PC-L01-01">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Mã thiết bị mới</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="newDevice" placeholder="Nhập mã...">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Trạng thái thiết bị cũ</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="oldStatus">
              <label nz-radio nzValue="NG">NG (Cần sửa)</label>
              <label nz-radio nzValue="Standby">Standby (Tốt)</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Lý do thay thế</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="replaceReason" rows="3"></textarea>
          </nz-form-control>
        </nz-form-item>

      </div>

    </form>
  </ng-container>

</nz-modal>


<nz-modal [(nzVisible)]="isLineModalVisible" nzTitle="Bạn cần nhập line trước" [nzFooter]="null">
  <ng-container *nzModalContent>
    <nz-select [(ngModel)]="Line" name="Line" style="width: 100%" nzShowSearch nzPlaceHolder="Chọn line">
      <nz-option *ngFor="let item of line_list" [nzValue]="item.siteCode" [nzLabel]="item.lineName">
      </nz-option>
    </nz-select>
    <button nz-button nzType="primary" style="margin-top: 10px; width: 100%;" (click)="confirmLine()">
      Xác nhận
    </button>

  </ng-container>

</nz-modal>