<div class="container">
  <div class="andon-box">
    <div nz-row style="display: flex;">
      <div nz-col nzSpan="8">
        <div style="float: left; margin-left: 10px;">
          <button nz-button nzType="primary" nzSize="large" class="home-btn" (click)="goToHomePage()">
            <!-- <span>Home Page</span> -->
            <span nz-icon nzType="home" nzTheme="outline"></span>
          </button>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div style="margin-left: 10px;">
          <h2 class="header-title">Báo Cáo Sự Cố Dây Chuyền <span *ngIf="Line">(Line:{{getLineName()}})</span></h2>
        </div>
      </div>
      <!-- <div nz-col nzSpan="8">col-8</div> -->
    </div>
    <div class="form-grid">
      <!-- <div class="form-group">
        <label>Dây chuyền sản xuất:</label>
        <nz-select nzShowSearch nzPlaceHolder="Chọn line" nzSize="large" [(ngModel)]="Line" class="custom-select">
          <nz-option *ngFor="let item of line_list" [nzValue]="item.siteCode" [nzLabel]="item.lineName">
          </nz-option>
        </nz-select>
      </div> -->
      <div class="col-span-2">
        <label>Công đoạn lỗi:</label>
        <!-- <input nz-input id="errorStage" [(ngModel)]="ErrorStage" class="input_style"
          placeholder="VD: Martcheck, Bề mặt..." nzVariant="outlined" /> -->
        <div>
          <nz-select id="errorStage" nzShowSearch nzPlaceHolder="Chọn công đoạn" nzSize="large" [(ngModel)]="ErrorStage"
            class="custom-select" style="width: 100%;">
            <nz-option nzLabel="Smart Check" nzValue="SMART_CHECK"></nz-option>
            <nz-option nzLabel="Cân KCS" nzValue="KCS"></nz-option>
            <nz-option nzLabel="Đóng Gói" nzValue="PACKING"></nz-option>
            <nz-option nzLabel="Máy Tính" nzValue="PC"></nz-option>
          </nz-select>
        </div>

      </div>
      <div class="col-span-2">
        <label>Mô tả ngắn (Tùy chọn):</label>
        <input nz-input id="description" [(ngModel)]="Description" class="input_style"
          placeholder="Vui lòng nhập mô tả lỗi" nzVariant="outlined" />
      </div>
    </div>
    <div class="btn-group">
      <button class="btn-call btn-me" (click)="callGroup('0')">GỌI ME</button>
      <button class="btn-call btn-pe" (click)="callGroup('1')">GỌI PE</button>
      <button class="btn-call btn-it" (click)="callGroup('2')">GỌI IT</button>
      <button class="btn-call btn-cl" (click)="callGroup('3')">CHẤT LƯỢNG</button>
      <button class="btn-call btn-at" (click)="callGroup('4')">AN TOÀN</button>
    </div>
  </div>

  <div class="table-box">
    <h2 class="header-title" style="text-align: left; font-size: 20px;">📋 Danh Sách Sự Cố Hiện Hành</h2>
    <!-- <table>
      <thead>
        <tr>
          <th>Bộ phận</th>
          <th>Công đoạn</th>
          <th>Thời gian báo</th>
          <th>Thời gian chờ</th>
          <th>Thời gian xử lý</th>
          <th style="width: 20%;">Hành động</th>
        </tr>
      </thead>
      <tbody id="errorTableBody">
        <tr *ngFor="let item of andonDataList$| async; trackBy: trackById">
          <td>{{ item.groupName }}</td>
          <td>{{ item.errorStage }}</td>
          <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ item.waitingTime }}</td>
          <td>{{ item.processingTime }}</td>
          <td>
            <button *ngIf="item.status === 'CALLING'" class="btn-status calling" nz-button nzType="primary"
              nzSize="small" (click)="updateProcessingStatus(item)">Bắt Đầu Xử Lý
            </button>
            <button *ngIf="item.status === 'PROCESSING'" class="btn-status processing" nz-button nzType="primary"
              nzSize="small" (click)="openDoneModal(item)">Xác nhận xử lý
            </button>

            <button *ngIf="item.status === 'PROCESSING'" class="btn-status change-pic" nz-button nzType="primary"
              nzSize="small" (click)="changePicModal(item)">Chuyển bộ phận
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
    <!-- <table>
      <thead>
        <tr>
          <th>Bộ phận</th>
          <th>Công đoạn</th>
          <th>Thời gian báo</th>
          <th>Thời gian chờ</th>
          <th>Thời gian xử lý</th>
          <th style="width: 20%;">Hành động</th>
        </tr>
      </thead>
      <tbody id="errorTableBody">
        <tr *ngFor="let item of andonDataList$| async; trackBy: trackById">
          <td>{{ item.groupName }}</td>
          <td>{{ item.errorStage }}</td>
          <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ item.waitingTime }}</td>
          <td>{{ item.processingTime }}</td>
          <td> <button *ngIf="item.status === 'CALLING'" class="btn-status calling" nz-button nzType="primary"
              nzSize="small" (click)="updateProcessingStatus(item)">Bắt Đầu Xử Lý </button> <button
              *ngIf="item.status === 'PROCESSING'" class="btn-status processing" nz-button nzType="primary"
              nzSize="small" (click)="openDoneModal(item)">Xác nhận xử lý </button> <button
              *ngIf="item.status === 'PROCESSING'" class="btn-status change-pic" nz-button nzType="primary"
              nzSize="small" (click)="changePicModal(item)">Chuyển bộ phận </button> </td>
        </tr>
      </tbody>
    </table> -->
    <nz-table #andonTable [nzData]="(andonDataList$ | async) || []" [nzBordered]="true" nzSize="middle"
      [nzShowPagination]="false">

      <thead>
        <tr>
          <th style="width: 60px;"></th>
          <th>Bộ phận</th>
          <th>Công đoạn</th>
          <th>Thời gian báo</th>
          <th>Thời gian chờ</th>
          <th>Thời gian xử lý</th>
          <th style="width: 20%;">Hành động</th>
        </tr>
      </thead>

      <tbody>
        @for (item of andonTable.data; track item.id) {
        <!-- MAIN ROW -->
        <tr class="andon-row"
          [style.background-color]="item.team == 0 ? 'rgb(142 187 255)' : item.team == 1 ? 'rgb(230 213 247)' : item.team == 2 ? 'rgb(247 234 179)' : item.team == 3 ? 'rgb(204 201 28 / 44%)': 'rgb(35 180 6 / 31%)' ">
          <!-- EXPAND -->
          <td [(nzExpand)]=" item.expand" (click)="andonDetailData(item.id)">
          </td>
          <td>{{ item.groupName }}</td>
          <td>{{ item.errorStage }}</td>
          <td>
            {{ item.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}
          </td>
          <td>{{ item.waitingTime }}</td>
          <td>{{ item.processingTime }}</td>
          <td>
            <button *ngIf="item.status === 'CALLING'" class="btn-status calling" nz-button nzType="primary"
              nzSize="small" (click)="updateProcessingStatus(item)">
              Bắt Đầu Xử Lý
            </button>
            <button *ngIf="item.status === 'PROCESSING'" class="btn-status processing" nz-button nzType="primary"
              nzSize="small" (click)="openDoneModal(item)">
              Xác nhận xử lý
            </button>
            <button *ngIf="item.status === 'PROCESSING'" class="btn-status change-pic" nz-button nzType="default"
              nzSize="small" (click)="changePicModal(item)">
              Chuyển bộ phận
            </button>
          </td>
        </tr>
        <tr *ngIf="item.expand" style="background-color: #f0f0f0;">
          <td colspan="7">
            <nz-table #basicTable [nzData]="detailMap[item.id] || []" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Type</th>
                  <th>UserName</th>
                  <th>From(Team)</th>
                  <th>To(Team)</th>
                  <th>Description</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Duration</th>
                </tr>
              </thead>
      <tbody>
        <tr *ngFor="let data of detailMap[item.id] || []">
          <td>{{data.id}}</td>
          <td>{{data.action_type}}</td>
          <td>{{data.from_user}}</td>
          <td>{{data.from_team_name}}</td>
          <td>{{data.to_team_name}}</td>
          <td>{{data.description}}</td>
          <td>{{data.start_time| date: 'HH:mm:ss'}}</td>
          <td>{{data.end_time| date: 'HH:mm:ss'}}</td>
          <td>
            {{ formatDuration(data.start_time, data.end_time) }}
          </td>
        </tr>
      </tbody>
    </nz-table>
    </td>
    </tr>
    }

    </tbody>

    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isDoneModalVisible" nzTitle="Xác Nhận Hoàn Thành Xử Lý" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleSubmit()" nzOkText="Lưu & Đóng Lỗi" nzCancelText="Hủy bỏ">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="doneForm">

      <!-- chọn phương pháp -->
      <nz-form-item>
        <nz-form-label>Lựa chọn phương pháp đã xử lý</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="method">
            <label nz-radio nzValue="repair">Sửa chữa tại chỗ</label>
            <label nz-radio nzValue="replace">Thay thế thiết bị</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <!-- repair -->
      <div *ngIf="doneForm.value.method === 'repair'">
        <nz-form-item>
          <nz-form-label>Cách khắc phục / Sửa chữa</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="repairNotes" rows="4" placeholder="Ghi chú cách xử lý..."></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- replace -->
      <div *ngIf="doneForm.value.method === 'replace'">

        <nz-form-item>
          <nz-form-label>Mã thiết bị cũ</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="oldDevice" placeholder="VD: PC-L01-01">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Mã thiết bị mới</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="newDevice" placeholder="Nhập mã...">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Trạng thái thiết bị cũ</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="oldStatus">
              <label nz-radio nzValue="NG">NG (Cần sửa)</label>
              <label nz-radio nzValue="Standby">Standby (Tốt)</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Lý do thay thế</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="replaceReason" rows="3"></textarea>
          </nz-form-control>
        </nz-form-item>

      </div>

    </form>
  </ng-container>

</nz-modal>


<nz-modal [(nzVisible)]="isLineModalVisible" nzTitle="Bạn cần nhập line trước" [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <nz-select [(ngModel)]="Line" name="Line" style="width: 100%" nzShowSearch nzPlaceHolder="Chọn line">
      <nz-option *ngFor="let item of line_list" [nzValue]="item.siteCode" [nzLabel]="item.lineName">
      </nz-option>
    </nz-select>
    <button nz-button nzType="primary" style="margin-top: 10px; width: 100%;" (click)="confirmLine()">
      Xác nhận
    </button>

  </ng-container>

</nz-modal>
<form #f="ngForm">
  <nz-modal [nzVisible]="isChangePicModalVisible" nzTitle="Chuyển bộ phận xử lý" nzOkText="Xác nhận chuyển"
    nzCancelText="Hủy" (nzOnCancel)="handleCancelChangePic()" (nzOnOk)="confirmChangePic()">
    <ng-container *nzModalContent>
      <div>
        <nz-form-label>Chọn User</nz-form-label>
        <nz-select [(ngModel)]="from_user" name="from_user" style="width: 100%" nzShowSearch nzPlaceHolder="Chọn User">
          <nz-option nzLabel="Nguyễn Văn A" nzValue="07521"></nz-option>
          <nz-option nzLabel="Nguyễn Văn B" nzValue="07522"></nz-option>
          <nz-option nzLabel="Nguyễn Văn C" nzValue="07523"></nz-option>
        </nz-select>
      </div>

      <div>
        <nz-form-label>Chọn bộ phận</nz-form-label>
        <nz-select [(ngModel)]="Department" name="Department" style="width: 100%" nzShowSearch
          nzPlaceHolder="Chọn bộ phận">
          <nz-option nzLabel="ME" nzValue="0"></nz-option>
          <nz-option nzLabel="IT" nzValue="2"></nz-option>
          <nz-option nzLabel="PE" nzValue="1"></nz-option>
          <nz-option nzLabel="CHẤT LƯỢNG" nzValue="3"></nz-option>
          <nz-option nzLabel="AN TOÀN" nzValue="4"></nz-option>
        </nz-select>
      </div>

      <div style="margin-top: 20px;">
        <form nz-form nzLayout="vertical">
          <nz-form-item>
            <nz-form-label>Nhập lý do:</nz-form-label>
            <nz-form-control nzErrorTip="Nhập lý do (tối đa 100 ký tự)">
              <nz-textarea-count [nzMaxCharacterCount]="100">
                <textarea rows="3" nz-input [(ngModel)]="ReasonChangePic" name="ReasonChangePic">
              </textarea>
              </nz-textarea-count>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

    </ng-container>

  </nz-modal>
</form>