<div class="login-container">
  <div class="login-box">
    <div class="login-title">Đăng nhập hệ thống</div>

    <form nz-form [formGroup]="form" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Nhập username">
          <input nz-input formControlName="username" placeholder="Username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <div class="password-wrapper">
            <input
              nz-input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Password"
            />

            <span
              nz-icon
              [nzType]="showPassword ? 'eye-invisible' : 'eye'"
              (click)="togglePassword()"
              class="eye-icon"
            ></span>
          </div>
        </nz-form-control>
      </nz-form-item>

      <ng-template #passwordErrorTpl let-control>
        <span *ngIf="control.hasError('required')">Nhập password</span>
        <span *ngIf="control.hasError('minlength')">Ít nhất 3 ký tự</span>
      </ng-template>

      <button nz-button htmlType="submit">Đăng nhập</button>
    </form>
  </div>
</div>
