<div class="table-container">

  <!-- SEARCH AREA -->
  <div class="grid-header">
    <div class="grid-title">
      Danh sách NVL cần order tổng hợp theo mã "Z"
    </div>

    <button nz-button nzType="primary" (click)="downloadExcelSign()">
      <span nz-icon nzType="download"></span>
      Download Excel ký nhận
    </button>
  </div>

  <!-- GRID -->
  <ag-grid-angular class="ag-theme-alpine seov-grid" style="width: 100%; height: 500px" [columnDefs]="columnDefs"
    [rowData]="rowData" (gridReady)="onGridReady($event)" [rowHeight]="42">
  </ag-grid-angular>

  <!-- ACTION BAR -->
  <div class="action-bar">

    <div class="action-left">
      <!-- sau này có thể show total rows / status -->
      <span class="info-text">
        <!-- Tổng: {{ rowData?.length || 0 }} dòng -->
      </span>
    </div>

    <div class="request-info">

      <div class="action-left">

        <div class="info-card">

          <div class="info-title">
            <span nz-icon nzType="file-text"></span>
            Thông tin phiếu yêu cầu
          </div>

          <nz-table class="request-header-table" #basicTable [nzData]="hdData" [nzFrontPagination]="false"
            [nzShowPagination]="false">
            <thead>
              <tr>
                <th>RequestNo</th>
                <th>Department</th>
                <th>Product</th>
                <th>Status</th>
                <th>Approved By</th>
                <th>Issued By</th>
                <th>Rejected By</th>
                <th>RrejectReason</th>
                <th>UpdatedAt</th>

              </tr>
            </thead>
            <tbody>
              @for (data of basicTable.data; track data) {
              <tr>
                <td>{{ data.request_no }}</td>
                <td>{{ data.department }}</td>
                <td>{{ data.production_number }}</td>
                <td>{{ data.status }}</td>
                <td>{{ data.approved_by }}</td>
                <td>{{ data.issued_by }}</td>
                <td>{{ data.rejected_by }}</td>
                <td>{{ data.reject_reason }}</td>
                <td>{{ data.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>

              </tr>
              }
            </tbody>
          </nz-table>



        </div>

      </div>
      <div class="action-right" *ngIf="approveStatus">
        <button nz-button nzType="primary" (click)="saveData()"
          [disabled]="hdData[0]?.status === 'REJECTED'||hdData[0]?.status === 'COMPLETED'">
          <span nz-icon nzType="save"></span>
          Save
        </button>

        <button nz-button nzDanger (click)="rejectRequest()"
          [disabled]="hdData[0]?.status === 'REJECTED'||hdData[0]?.status === 'COMPLETED'">
          Hủy Request
        </button>
      </div>


    </div>



  </div>




</div>