<div class="action-group">

    <!-- VIEW -->
    <button *ngIf="showView" nz-button nzType="text" nzTooltipTitle="Xem" (click)="onView()">
        <span nz-icon nzType="eye"></span>
    </button>

    <!-- EDIT -->
    <button *ngIf="showEdit" nz-button nzType="text" nzTooltipTitle="Sửa" (click)="onEdit()">
        <span nz-icon nzType="edit"></span>
    </button>

    <!-- DELETE -->
    <button *ngIf="showDelete" nz-button nzType="text" nzDanger nz-popconfirm
        nzPopconfirmTitle="Bạn chắc chắn muốn xóa?" (nzOnConfirm)="onDelete()">
        <span nz-icon nzType="delete"></span>
    </button>

</div>