.table-container {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}

.table-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.action-cell {
  display: flex;
  gap: 6px;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn-view:hover {
  color: #1890ff;
  cursor: pointer;
}

.btn-edit:hover {
  color: #faad14;
}

.btn-delete:hover {
  color: #ff4d4f;
}


.ag-theme-alpine .ag-cell:focus {
  outline: none;
}

.ag-theme-alpine .ag-cell-focus {
  border: none;
}

.search-header {
  background: #ffffff;
  padding: 6px 3px;
  border-radius: 8px;

  /* bóng nhẹ */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  /* border subtle */
  border: 1px solid #f0f0f0;
}

/* label rõ ràng hơn */
.search-header .ant-form-item-label>label {
  font-weight: 500;
  color: #333;
}

/* input, select, date */
.search-header .ant-input,
.search-header .ant-select-selector,
.search-header .ant-picker {
  border-radius: 6px !important;
}

/* focus đẹp hơn */
.search-header .ant-input:focus,
.search-header .ant-select-focused .ant-select-selector,
.search-header .ant-picker-focused {
  border-color: #4d7af6;
  box-shadow: 0 0 0 2px rgba(77, 122, 246, 0.15);
}

/* spacing form item */
.form-item {
  /* margin-bottom: 12px; */
}

/* button search */
.search-header button[nzType="primary"] {
  width: 100%;
  border-radius: 6px;
  font-weight: 500;
}

/* hover nhẹ */
.search-header button[nzType="primary"]:hover {
  background: #3c63d6;
}

.detail-form input[nz-input] {
  width: 100%;
}

.ant-form-item-label {
  text-align: left !important;
  justify-content: flex-start;

}


.table-container {
  background: #fff;
  /* padding: 16px; */
  border-radius: 10px;
}

.table-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.search-header {
  background: #f7f9fc;
  padding: 6px;
  border-radius: 8px;
  /* margin-bottom: 16px; */
}

.form-item {
  margin-bottom: 0;
}

.button-col {
  display: flex;
  align-items: end;
  gap: 8px;
}

.grid-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.ant-col {
  height: 30px;
}


.product_info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product_info span {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;

}

.product_info input {
  flex: 1;
}


.checkboxItem {
  display: flex;
  align-items: center;
}

.material-info {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;

  border-radius: 12px;
  background: linear-gradient(135deg, #f0f9ff, #e6f4ff);
  border: 1px solid #91caff;

  color: #1677ff;
  font-size: 14px;
  font-weight: 600;

  transition: all .25s ease;
}

.material-info .anticon {
  font-size: 18px;
}

.material-info:hover {
  background: linear-gradient(135deg, #e6f4ff, #d6ecff);
  border-color: #4096ff;
  box-shadow: 0 4px 12px rgba(22, 119, 255, .15);
}