<div class="page">

    <div class="card">
        <div class="menu-header">
            <h2>IQC Management- dữ liệu Đa Tâm</h2>
            <span>Factory Control System</span>
        </div>

        <!-- Top Bar -->
        <div nz-row [nzGutter]="12" class="top-bar" nzAlign="middle">

            <!-- Search Form -->
            <div nz-col [nzSpan]="4">

                <form nz-form [formGroup]="searchForm">

                    <nz-select formControlName="program" nzAllowClear nzSize="large" nzPlaceHolder="Chọn chương trình đo"
                        class="full-width">
                        <nz-option nzValue="24MT" nzLabel="Đa Tâm 24 MT"></nz-option>
                        <nz-option nzValue="12MT" nzLabel="Đa Tâm 12 MT"></nz-option>
                    </nz-select>

                </form>

            </div>

            <!-- Action Area -->
            <div nz-col [nzSpan]="20">

                <div class="action-area">

                    <div class="upload-group">

                        <!-- Upload -->
                        <nz-upload [nzBeforeUpload]="beforeUpload" [nzShowUploadList]="false">
                            <button nz-button nzType="default" nzSize="large">
                                <span nz-icon nzType="upload"></span>
                                Chọn file Excel
                            </button>
                        </nz-upload>

                        <!-- File name -->
                        <div class="file-info" *ngIf="fileName">
                            📄 {{ fileName }}
                        </div>

                        <!-- Process -->
                        <button nz-button nzType="primary" nzSize="large" [disabled]="!selectedFile" (click)="upload()">
                            Xử lý file
                        </button>

                    </div>

                </div>

            </div>

        </div>

        <!-- form lấy báo cáo -->
        <div nz-row [nzGutter]="24" class="top-bar reportform" nzAlign="middle">

            <!-- report Form -->
            <div nz-col [nzSpan]="24">

                <form nz-form [formGroup]="reportForm">

                    <div nz-row [nzGutter]="12" nzAlign="middle">

                        <!-- PROGRAM -->
                        <div nz-col [nzSpan]="5">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-select formControlName="program" nzAllowClear nzSize="large"
                                        nzPlaceHolder="Chọn chương trình" (ngModelChange)="onProgramChange($event)">
                                        <nz-option nzValue="24MT" nzLabel="Đa Tâm 24 MT"></nz-option>
                                        <nz-option nzValue="12MT" nzLabel="Đa Tâm 12 MT"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- Type -->
                        <div nz-col [nzSpan]="5">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-select formControlName="msTypeRp" nzAllowClear nzSize="large"
                                        nzPlaceHolder="Chọn kiểu đo">
                                        <nz-option nzValue="M" nzLabel="MASTER"></nz-option>
                                        <nz-option nzValue="R" nzLabel="RANDOM"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <!-- LOT A -->
                        <div nz-col [nzSpan]="5">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-select formControlName="lotA" nzAllowClear nzSize="large"
                                        nzPlaceHolder="Chọn Lot-No A" nzShowSearch>
                                        <nz-option *ngFor="let lot of lotData" [nzValue]="lot.lot_no"
                                            [nzLabel]="lot.lot_no"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- LOT B -->
                        <div nz-col [nzSpan]="5">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-select formControlName="lotB" nzAllowClear nzSize="large"
                                        nzPlaceHolder="Chọn Lot-No B" nzShowSearch>
                                        <nz-option *ngFor="let lot of lotData" [nzValue]="lot.lot_no"
                                            [nzLabel]="lot.lot_no"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>



                        <!-- BUTTON -->
                        <div nz-col [nzSpan]="4">
                            <button nz-button nzType="primary" nzSize="large" class="full-width" (click)="getReport()">
                                Lấy báo cáo
                            </button>
                        </div>

                    </div>

                </form>
            </div>

        </div>

    </div>

</div>